/* ======================= 기본 설정 ======================== */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

/* 기본값 제거 */

/* wrap 영역 */
#wrap {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  width: 1280px;

  padding: 20px 20px;
  background-color: white;
  align-items: center;

  justify-content: center;
}

/* 이미지 박스 영역 */
/* .image-box {
  width: 380px;
  height: 500px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
} */

/* 컨텐츠 박스 영역 */


/* 게시글 제목 영역 */
.title-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  max-width: 80%;

}

/* 게시글 내용 영역 */
.content-box{
  width: 90%;
  height: 90%;
  
}
.review-text {
  text-align: left;
  line-height: 1.6;
  /* margin-bottom: 50px; */
  font-size: 25px;
  font-weight: bolder;

  text-align: left;       /* 택스트 가로 정렬 */
  overflow: hidden;         /* 넘치는 택스트 숨김 처리 */
  word-break: break-all;    /* 단어 중간 줄바꿈 처리 */
}

/* 부트스트랩 p 태그 영역*/
p{
  max-width: 800px;
  max-height: 400px;
  box-sizing: border-box;
  padding-top: 10px;

}
/* 부트스트랩 img 영역 */
p > img{
  width: 100%;
  height: 100%;           /* 이미지 비율 유지 */
  overflow: hidden;       /* 넘치는 이미지 방지 */
}

/* 게시글 작성자 , 별점 영역 */
.info-user{
  font-weight: bold;
  font-size: 20px;
}

.rating{
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
.info-rate{
  font-weight: bold;
  font-size: 20px;
}


/* 수정 , 삭제 버튼 영역 */
.rate_btn{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  /* margin-top: 30px; */
}
.actions {
  margin-bottom: 15px;
  justify-content: right;
}

button {
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* 뒤로가기 영역 */
.rating_back{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
.back {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;

}
.star {
    color: #f7d001;
    font-size: 25px;
}