/* ======================= 기본 설정 ======================== */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

/* 기본값 제거 */

/* wrap 영역 */
#wrap {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  width: 1280px;
  height: 70%;
  padding: 20px 20px;
  background-color: white;
  align-items: center;
  border: 3px solid black;
}

/* 이미지 박스 영역 */
.image-box {
  width: 900px;
  height: 500px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

/* 컨텐츠 박스 영역 */


/* 게시글 제목 영역 */
.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
}

/* 게시글 내용 영역 */
.review-text {
  text-align: left;
  line-height: 1.6;
  margin-bottom: 100px;
  font-size: 25px;
  font-weight: bolder;
}

/* 게시글 작성자 , 별점 영역 */
.info-user{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.info-rate{
  font-weight: bold;
  font-size: 20px;
}


/* 수정 , 삭제 버튼 영역 */
.rate_btn{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.actions {
  margin-bottom: 15px;
  justify-content: right;
}

button {
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* 뒤로가기 영역 */
.rating_back{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.back {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;

}
