/* ======================= 기본 설정 ======================== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} /* 여백 제거 설정 */

html, body {
    height: 100%;
} /* 본문과 푸터 사이로 빈 공간이 있으면 공간 채우기 */

/* ======================= 푸터 ======================== */
#footer {
    background-color: #38b6ff;
    width: 100%;
    position: fixed;
    bottom: 0px;
} /* 푸터 배경색 및 하단에 고정 */

#footer_wrap {
    width: 1280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} /* 푸터 범위 설정 및 정렬 */

#footer_wrap span {
    color: white;
    font-size: 24px;
    font-weight: bold;
} /* 푸터 글씨 색상 및 크기 조정 */