/* ======================= 기본 설정 ======================== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} /* 여백 제거 설정 */

a {
    color: black;
    text-decoration: none;
} /* 기본값 제거 */

a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
} /* 글머리 제거 */

ul {
    margin-bottom: 0px;
}

/* ======================= 헤더 ======================== */
#header {
    background-color: #38b6ff;
} /* 헤더 배경색 */

#header_wrap {
    width: 1280px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
} /* 헤더 범위 설정 및 정렬 */

#header_logo {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
} /* 사이트 로고 위치 및 크기 조정 */

#header_logo a {
    color: white;
    margin-left: 20px;
} /* 사이트 로고 글자색 및 위치 조정 */

.logo {
    width: 10%;
    padding-right: 10px;
    margin-bottom: 5px;
} /* 로고 이미지 */

#header_top {
    display: flex;
    justify-content: flex-end;
} /* 회원가입, 로그인 버튼 위치 조정 */

#header_top a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
} /* 회원가입, 로그인 버튼 글자색 및 위치 조정 */

#header_bottom {
    display: flex;
    justify-content: flex-end;
} /* 로그인해주세요 글씨 위치 조정 */

#header_bottom li {
    color: white;
    font-size: 20px;
} /* 로그인해주세요 글씨 색상 및 크기 조정 */