/* ======================= 기본 설정 ======================== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} /* 여백 제거 설정 */

a {
    color: black;
    text-decoration: none;
} /* 기본값 제거 */

li {
    list-style-type: none;
} /* 글머리 제거 */

/* ======================= 메인 (게시글 목록) ======================== */
#main_wrap {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 100px;
} /* 메인 범위 설정 및 정렬 */

th {
    text-align: center;
} /* 테이블 제목 정렬 */

/* #main_table {
    display: flex;
    justify-content: center;
} /* 테이블 정렬 */

/* .table_content {
    height: 500px;
} */

/* .list_table {
    width: 1000px;
    text-align: center;
} /* 테이블 크기 설정 및 글씨 정렬 */

.list_num {
    width: 60px;
    text-align: center;
} /* 테이블 '번호' */

.list_title {
    width: 500px;
} /* 테이블 '제목' */

.list_movieTitle {
    width: 200px;
} /* 테이블 '영화 제목' */

.list_rating {
    width: 120px;
    text-align: center;
} /* 테이블 '별점' */

.list_date {
    width: 120px;
    text-align: center;
} /* 테이블 '작성일자' */

.spoiler {
    color: rgb(196, 33, 33);
}

.star {
    color: #f7d001;
    font-size: 16px;
}

/* ======================= 메인 (기능 목록) ======================== */
/* button {
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
} /* 버튼 기본 디자인 제거 */

#main_functions {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} /* 페이지 번호 및 버튼 위치 조정 */

#main_buttons {
    display: flex;
    align-items: center;
}

/* .page_numbers {
    border: 1px solid black;
    border-radius: 100px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
} /* 페이지 번호 버튼 설정 */

#main_table{
    width: 100%;
}