/* 구역 사이즈 기준: 컨텐츠+안쪽여백 */
*{box-sizing: border-box;}
*{margin : 0px; padding: 0px;} /*기본 여백들을 제거*/


/*확인용*/
/*
*{
    border: 1px solid red;}
    #header{ height: 150;}
    #main{height: 400px;}
    #footer{height: 100px;}
*/

/* 공통 부문 */

a{ /*링크 기본값 제거 */
    text-decoration: none; /* 밑줄제거 */
    color: black; /* 글꼴 색상 */
}


/* ul 또는 ol에서 글머리 제거 */
li{ list-style-type: none;}


/*====================[스크립트 작성]======================*/

/* wrap : 전체 구역 */
#wrap{
    width: 1280px;     /* 웹표준 가로 사이즈 : 1280px */
    margin: 0 auto;
}


#main{
    text-align: center;
}
 
#uidInput{
    font-size: 20px;
    width: 300px; height: 30px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

#pwdInput{ 
    font-size: 20px;
    width: 300px; height: 30px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}



#userpageBtn{
    width: 100px; height: 30px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
