/* ======================= 기본 설정 ======================== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} /* 여백 제거 설정 */

a {
    color: black;
    text-decoration: none;
} /* 기본값 제거 */

a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
} /* 글머리 제거 */

ul {
    margin-bottom: 0px;
}

/* ======================= 헤더 ======================== */
#header {
    background-color: #38b6ff;
} /* 헤더 배경색 */

#header_wrap {
    width: 1280px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
} /* 헤더 범위 설정 및 정렬 */

#header_logo {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
} /* 사이트 로고 위치 및 크기 조정 */

#header_logo a {
    color: white;
    margin-left: 20px;
} /* 사이트 로고 글자색 및 위치 조정 */

#header_top {
    display: flex;
    justify-content: flex-end;
} /* 회원가입, 로그인 버튼 위치 조정 */

#header_top a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
} /* 회원가입, 로그인 버튼 글자색 및 위치 조정 */

#header_bottom {
    display: flex;
    justify-content: flex-end;
} /* 로그인해주세요 글씨 위치 조정 */

#header_bottom li {
    color: white;
    font-size: 20px;
} /* 로그인해주세요 글씨 색상 및 크기 조정 */

a {
    color: black;
    text-decoration: none !important;
}

#wrapWrite{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(139, 139, 139, 0.534);
    width: 1280px; height: 80%;
    margin: 0px auto;
    margin-top: 100px;
    padding: 20px 20px;
}

#WriteHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; height: 100px;
}
.titleArea{
    
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin: 10px 0px 10px 0px;}
    
/* (글) 제목박스  */
#titleInput{width: 100% ;
border: 1px solid rgba(139, 139, 139, 0.534);
padding: 10px;}

/* 영화 제목박스 */
#movieTitleInput{width: 50%;
border: 1px solid rgba(139, 139, 139, 0.534);
padding: 10px;}

#checkFont{
    font-size: 15px;
}
#ratingInput label{
    font-size: 20px;
        font-weight: 350 !important;
        padding: 5px;
}

#ratingInput label span{
    padding : 7px;
}
    
#isSpoilerInput{
    border: 1px solid rgba(139, 139, 139, 0.534);
    padding: 5px;
}

#isSpoilerInput option{
    font-size: 15px;
    font-weight: bold;
}

#WriteMain{
    border: 1px solid rgba(139, 139, 139, 0.534);
    display: flex;
    justify-content: center;
    width: 100%; height: 500px;
    margin: 50px 0px 50px 0px;
}
#WriteMain #summernote{ width: 100%; height: 95%;

    
    
}
#WriteFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 50px;
}

.btn-danger{
    width: 90px;
    margin: 20px 20px 20px 20px !important;
}

.btn-primary{
    width: 90px ;
    margin: 20px;    
} 

