/*확인용 */
*{
    border:  1px solid black;
} 


/*========= wrap 영역 ==========*/
#wrap{
    border: 1px solid black;
    width: 1280px;
}

/*========== writeDetail 영역========*/
#writeDetail{
    display: flex;
}




/*=========== WDleft 영역 ===========*/




/*=========== WDleft 영역 ===========*/
